.Battle{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(/Wimages/maps/DemoBattle.png);
    background-size: cover;
    image-rendering: pixelated;
}

.Battle_hero, .Battle_enemy{
    position: absolute;
}